<div class="container-perfil py-5">
  @if (githubService.usuarioGithub(); as datos) {
    <div class="perfil">
      <div class="carta-presentacion text-center p-4">
        <img
          [src]="datos.avatar_url"
          class="rounded-circle border border-warning mb-3"
          style="width: 150px"
          alt="foto de perfil"
        />
        <h2 class="nombre text-warning">{{ datos.name }}</h2>
        <p class="descripcion fs-5">{{ datos.bio }}</p>
      </div>
    </div>
  } @else {
    <p>Cargando datos</p>
  }
  <div class="card bg-black border border-warning shadow-lg mt-4 mx-auto" style="max-width: 700px;">
    <div class="card-header border-bottom border-warning text-center py-3">
      <h3 class="text-warning mb-0 fw-bold text-uppercase" style="letter-spacing: 2px;">Conquista Galactica</h3>
    </div>

    <div class="card-body text-white p-4">
      <p class="card-text text-center fs-5">
        El Gran Almirante Thrawn confía en tus habilidades como comandante. Te otorgó naves y tu
        misión es conquistar los tres planetas designados
      </p>

      <hr class="border-warning my-4" />

      <div class="text-center">
          <p class="text-warning fw-bold text-uppercase mb-3" style="letter-spacing: 1px;">¿COMO JUGAR?</p>
          <p class="px-3">Selecciona a que planeta vas a atacar y con que naves vas a hacerlo. Tus elecciones van a tener que ser estrategicas, cada nave cuesta puntos de tu presupuesto. Además, cada planeta tiene un % de defensa, tenés que tener cuidado con eso para evitar que tu flota sea destruida</p>
        </div>
    </div>
  </div>
</div>
