@if (datosGithub) {
    <div class="perfil">
        <img [src]="datosGithub.avatar_url">
        <h1>{{ datosGithub.name }}</h1>
        <p>id: {{ datosGithub.id }}</p>
        <p class="descripcion">{{ datosGithub.bio }}</p>
    </div>
} @else {
    <p>Cargando datos</p>
}
<div class="info-juego">
    <h3>Stars Invaders:</h3>
    <p>Juego inspirado en Space Invaders, en esta ocasión tematizado de Star wars. El juego se juega con las flechas y los botones del mouse. Las flechas sirven para moverte y los botones para disparar y utilizar una habilidad especial</p>
</div>